/* En tu archivo CSS/SCSS del componente */
.table-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5em;
}

.buttom-container{
  margin-top: 2em;
  text-align: center;
  gap: 100px;
}

.buttom-item{
  margin-top: 25px;
  /* margin-right: 250px; */
  border-radius: 12px;
  font-size: 20px;
  padding: 20px;
  background-color: rgb(47, 141, 235);
}